# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Secrets
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.out
*.log

# Logs
wandb/
data/official/dev_data/texput.log
